{% extends 'base.html' %}

{% block content %}
<!-- <h1>Timer</h1>
    <h2 id="countdown-timer">0h 0m 0s</h2>
    <button class="work-timer">Work</button>
    <button class="break-timer">Break</button>

    <script type="text/javascript">
        // Set the date we're counting down to
        var currentTime = new Date();
        var futureTime = new Date();

        var resetMinutes = true;

        // Update the count down every 1 second
        var x = setInterval(function() {

            // Get today's date and time
            futureTime.setMinutes(currentTime.getMinutes() + 25);

            // Find the distance between futureTime and the count down date
            var distance = futureTime - currentTime;
            console.log(distance);

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("countdown-timer").innerHTML = hours + "h "
            + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countdown-timer").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script> -->
     <h1>Timer</h1>
    <h2 id="countdown-timer">0h 0m 0s</h2>
    <button class="work-timer">Work</button>
    <button class="break-timer">Break</button>

    <script type="text/javascript">

        var pomodoro = {
            started: false,
            minutes: 0,
            seconds: 0,
            fillerHeight: 0,
            fillerIncrement: 0,
            interval: null,
            minutesDom: null,
            secondsDom: null,
            fillerDom: null,
            init: function () {
                var self = this;
                this.minutesDom = document.querySelector('#minutes');
                this.secondsDom = document.querySelector('#seconds');
                this.fillerDom = document.querySelector('#filler');
                this.interval = setInterval(function () {
                    self.intervalCallback.apply(self);
                }, 1000);
                document.querySelector('#work').onclick = function () {
                    self.startWork.apply(self);
                };
                document.querySelector('#shortBreak').onclick = function () {
                    self.startShortBreak.apply(self);
                };
                document.querySelector('#longBreak').onclick = function () {
                    self.startLongBreak.apply(self);
                };
                document.querySelector('#stop').onclick = function () {
                    self.stopTimer.apply(self);
                };
            },
            resetVariables: function (mins, secs, started) {
                this.minutes = mins;
                this.seconds = secs;
                this.started = started;
                this.fillerIncrement = 200 / (this.minutes * 60);
                this.fillerHeight = 0;
            },
            startWork: function () {
                this.resetVariables(60, 0, true);
            },
            startShortBreak: function () {
                this.resetVariables(5, 0, true);
            },
            startLongBreak: function () {
                this.resetVariables(10, 0, true);
            },
            stopTimer: function () {
                this.resetVariables(60, 0, false);
                this.updateDom();
            },
            toDoubleDigit: function (num) {
                if (num < 10) {
                    return "0" + parseInt(num, 10);
                }
                return num;
            },
            updateDom: function () {
                this.minutesDom.innerHTML = this.toDoubleDigit(this.minutes);
                this.secondsDom.innerHTML = this.toDoubleDigit(this.seconds);
                this.fillerHeight = this.fillerHeight + this.fillerIncrement;
                this.fillerDom.style.height = this.fillerHeight + 'px';
            },
            intervalCallback: function () {
                if (!this.started) return false;
                if (this.seconds == 0) {
                    if (this.minutes == 0) {
                        this.timerComplete();
                        return;
                    }
                    this.seconds = 59;
                    this.minutes--;
                } else {
                    this.seconds--;
                }
                this.updateDom();
            },
            timerComplete: function () {
                this.started = false;
                this.fillerHeight = 0;
            }
        };
        window.onload = function () {
            pomodoro.init();
        };
    </script>

{% endblock%}